{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card text-center" style="width: 25rem;">
        <div class="card-body">
            <h2 class="card-title">Login</h2>
            <form method="POST">
                {% csrf_token %}
                <p>
                    <input type="text" name="username" placeholder="Username">
                </p>
                <p>
                    <input type="password" name="password" placeholder="Password">
                </p>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
