{% extends 'base.html' %}

{% block content %}
<div class="card">
    <h2>Checkout</h2>

    {% if success %}
        <h3>Thank you! Your order has been placed successfully 🎉</h3>
        <a href="/user/">
            <button>Continue Shopping</button>
        </a>
    {% else %}
        <h3>Total: ₹{{ total }}</h3>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Order Now</button>
        </form>
    {% endif %}
</div>
{% endblock %}
