{% extends 'base.html' %}

{% block content %}
<div class="card h-100">
    <h2>Products by {{ vendor.username }}</h2>

    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">Price: ₹{{ product.price }}</p>
                        <p class="card-text">Available: {{ product.quantity }}</p>
                        <a href="/cart/add/{{ product.id }}/" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
