{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card text-center" style="width: 40rem;">
        <div class="card-body">
            <h2 class="card-title">User Dashboard</h2>
            <p class="card-text">Welcome, {{ request.user.username }}</p>
            <hr>
            <div class="d-flex justify-content-center flex-wrap">
                <a href="/user/vendors/" class="btn btn-primary m-2">Browse Vendors</a>
                <a href="/cart/" class="btn btn-primary m-2">Cart</a>
                <a href="/guestlist/" class="btn btn-primary m-2">Guest List</a>
                <a href="/orders/" class="btn btn-primary m-2">Order Status</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
