{% extends 'base.html' %}
{% block content %}

<h3>All Books</h3>

<form method="GET" class="mb-3">
    <input type="text" name="q" placeholder="Search by title" class="form-control">
</form>

{% if user.is_staff %}
<a href="/add-book/" class="btn btn-primary mb-3">Add Book</a>
{% endif %}

<table class="table table-bordered">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Available</th>
        <th>Action</th>
    </tr>

    {% for book in books %}
    <tr>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.available_quantity }}</td>
        <td>
            {% if not user.is_staff %}
                {% if book.available_quantity > 0 %}
                    <a href="/borrow/{{ book.id }}/" class="btn btn-success btn-sm">Borrow</a>
                {% else %}
                    <button class="btn btn-secondary btn-sm" disabled>Out of Stock</button>
                {% endif %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
