{% extends 'base.html' %}
{% block content %}

<h3>My Borrowed Books</h3>

<table class="table table-bordered">
    <tr>
        <th>Book</th>
        <th>Borrow Date</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for borrow in borrowed_books %}
    <tr>
        <td>{{ borrow.book.title }}</td>
        <td>{{ borrow.borrow_date }}</td>
        <td>{{ borrow.status }}</td>
        <td>
            <a href="/return/{{ borrow.id }}/" class="btn btn-danger btn-sm">Return</a>
            {% if borrow.borrow_date %}
                {{ borrow.borrow_date|date:"d M Y, H:i" }}
            {% else %}
                <span class="text-muted">Not set</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
