
<!DOCTYPE html>
<html>
<head>
    <title>EventEase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">EventEase</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.user.is_authenticated %}
                    {% if request.user.role == "USER" %}
                        <li class="nav-item"><a href="/user/" class="nav-link">Dashboard</a></li>
                        <li class="nav-item"><a href="/user/membership/" class="nav-link">Membership</a></li>
                    {% elif request.user.role == "VENDOR" %}
                        <li class="nav-item"><a href="/vendor/" class="nav-link">Dashboard</a></li>
                        <li class="nav-item"><a href="/vendor/membership/" class="nav-link">Membership</a></li>
                    {% elif request.user.role == "ADMIN" %}
                        <li class="nav-item"><a href="/admin-dashboard/" class="nav-link">Dashboard</a></li>
                    {% endif %}
                {% endif %}
            </ul>
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <li class="nav-item"><span class="nav-link">👤 {{ request.user.username }}</span></li>
                    <li class="nav-item"><a href="/logout/" class="btn btn-outline-danger">Logout</a></li>
                {% else %}
                    <li class="nav-item"><a href="/login/" class="nav-link">Login</a></li>
                    <li class="nav-item"><a href="/register/" class="nav-link">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>
